<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>
    
    <div class="total-container">
        <div class="total-top">
            
        </div>
        <div class="total-bottom">
            
        </div>
    </div>

    <div id="app" class="big-container">
        <div class="col-left">
            <div class="left-header">
                <img src="img/img/avatar_2.jpg" alt="">
                <h5 class="username">Giuseppe Urbano</h5>
                <div class="icons">
                    <i class="fas fa-redo-alt"></i>
                    <i class="fas fa-comment-alt"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </div>

            <div class="notifications">
                <div class="bell">
                    <i class="fas fa-bell-slash"></i>
                </div>
                <div class="notifications-text">
                    <h6>Ricevi notifiche di nuovi messaggi</h6>

                    <a href="#">Attiva notifiche desktop</a>
                </div>
            </div>

            <div class="search-container">
                <i class="fas fa-search"></i>
                <input @keyup="search" v-model="research" class="search-input" type="text" placeholder="Cerca o inizia una nuova chat">
            </div>
            <!-- [counter] va messo dopo contacts -->
            <ul>

                <li v-if="contact.visible == true" v-for="(contact,index) in contacts" >
                    <div @click="getCounter(index)" class="contact">
                        <img :src="`img/img/avatar${contact.avatar}.jpg`" alt="">
                        <div class="contact-text">
                            <h5>
                                {{contact.name}}
                            </h5>

                            <p v-if="contact.messages[contact.messages.length - 1] != null">

                                {{ contact.messages[contact.messages.length - 1].text }}
                            </p>
                        </div> 
                        <div v-if="contact.messages[contact.messages.length - 1] != null" class="date">
                            {{ contact.messages[contact.messages.length - 1].date }}
                        </div>
                    </div>
                </li>
            </ul>
         
        </div>

        <div class="col-right">
            <div class="right-header">
                <div class="profile">
                    <img src="img/img/avatar_2.jpg" alt="">
                <div class="profile-text">
                    <h5 class="username">
                        {{contacts[counter].name}}
                    </h5>

                    <p v-if ="contacts[counter].messages[contacts[counter].messages.length -1] != null">

                        {{  contacts[counter].messages[contacts[counter].messages.length -1].date }}
                    </p>
                </div>
                </div>
                <div class="icons">
                    <i class="fas fa-search"></i>
                    <i class="fas fa-paperclip"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </div>

            <div 
            v-for="(message, index) in contacts[counter].messages"
            class="messages">
                <p :class="message.status" >
                    {{ message.text }} 

                    <i @click="message.dropdown = !message.dropdown" class="fas fa-chevron-down down"></i>

                    <span v-show="message.dropdown" class="dropdown">
                        <span @click="deleteMessage(index)" class="delete">
                            Delete Message
                        </span>
                    </span>

                    <span class="small-date" >
                        {{ message.date }}
                    </span>
                </p>

                

               
            </div>

            <footer class="col-footer">
                <div class="emoji">
                    <i class="far fa-smile"></i>
                </div>
                <div class="send-message">
                    <input @keyup.enter="pushMessage" v-model="newMessage" type="text" placeholder="Scrivi un messaggio">
                </div>
                <div class="rec">
                    <i class="fas fa-microphone"></i>
                </div>
            </footer>
        </div>
    </div>


    <script src="js/script.js"></script>
</body>
</html>